/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --background-color: #000;
    --text-color: #fff;
    --secondary-background-color: #252424;
    --header-padding-small: 10px 20px;
    --header-padding-medium: 15px 30px;
    --header-padding-large: 20px 40px;
    --header-padding-xlarge: 25px 50px;
    --header-padding-xxlarge: 30px 60px;
    --button-background-color: #333;
    --button-hover-background-color: #555;
    --project-list: 4;
    --project-height: 87vh;
    --project-top-padding: 1.5em;
    --project-margin: 4vw;
}

/* Global Styles */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Responsive Container */
.responsive {
    margin: 0 10%;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    padding: var(--header-padding-small);
}

/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: flex;
    align-items: center;
    font-size: 1.15em;
}

nav ul li:hover {
    font-weight: bolder;
}

nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

nav ul li a img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.icon-label {
    font-size: 1.1em;
}

/* Sections */
section {
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

#about {
    height: 80vh;
    display: flex;
    flex-direction: column;
}

#projects {
    height: 400vh;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secondary-background-color);
    scale: 0.8;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
}

.icon-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Project List */
.project-container {
    width: 100%;
    margin: 0 auto;
}

#project-list {
    list-style-type: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--project-list), var(--project-height));
    gap: var(--project-margin);
    padding-bottom: calc(var(--project-list) * var(--project-top-padding));
    margin-bottom: var(--project-margin);
}

.project {
    position: sticky;
    top: 0;
    padding-top: calc(var(--index) * var(--project-top-padding));
}

#project-1 {
    --index: 1;
}

#project-2 {
    --index: 2;
}

#project-3 {
    --index: 3;
}

#project-4 {
    --index: 4;
}

#project-1 .project-body {
    background-color: #6c757d;
}

#project-2 .project-body {
    background-color: #495057;
}

#project-3 .project-body {
    background-color: #343a40;
}

#project-4 .project-body {
    background-color: #212529;
}

.project-body {
    box-sizing: border-box;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    height: var(--project-height);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

/* Title */
.title {
    padding-bottom: 20px;
}

/* Back to Top Button */
.back-to-top {
    display: inline-block;
    background-color: var(--button-background-color);
    color: var(--text-color);
    border: none;
    border-radius: 10px;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    font-size: 14px;
    cursor: pointer;
}

.back-to-top:hover {
    background-color: var(--button-hover-background-color);
}

.type-text {
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1.8s steps(13), blink-caret 0.8s step-end infinite;
}

/* Animations */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

@keyframes fade-in {
    to {
        scale: 1;
        opacity: 1;
    }
}

@keyframes zoomOutFadeOut {
    0% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
    100% {
        transform: scale(0.5) translateY(50%);
        opacity: 0;
    }
}

.zoom-out-fade-out {
    animation: zoomOutFadeOut 1.5s forwards;
}

/* Media Queries */
@media (min-width: 375px) {
    .responsive-text {
        font-size: 1.2em;
    }
}

@media (min-width: 600px) {
    #about {
        padding-top: 10vh;
    }
}

@media (max-width: 639px) {
    .responsive {
        margin: 0 5%;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    nav ul li {
        font-size: 1em;
    }

    .project-container {
        width: 100%;
    }

    .project-body {
        padding: 20px;
    }

    .back-to-top {
        font-size: 12px;
        padding: 6px 10px;
    }
}

@media (min-width: 640px) {
    nav ul {
        display: flex;
    }

    #about {
        padding-top: 20vh;
    }
}

@media (min-width: 768px) {
    nav ul li {
        padding: 0 10px;
    }

    header {
        padding: var(--header-padding-medium);
    }
}

@media (min-width: 1024px) {
    nav ul li {
        padding: 0 20px;
    }

    header {
        padding: var(--header-padding-large);
    }
}

@media (min-width: 1280px) {
    header {
        padding: var(--header-padding-xlarge);
    }

    #contact {
        margin-top: 15vh;
    }
}

@media (min-width: 1536px) {
    header {
        padding: var(--header-padding-xxlarge);
    }
}